.film-shelf li
{
	margin-bottom: 20px;
	margin-right: 10px;
	min-height: 330px;
	min-width: 144px;
	width: 144px;
}

.film-shelf li:nth-child(5n+1)
{
	clear: left;
}
.film-shelf li:nth-child(5n)
{
	margin-right: 0;
}

.film-shelf li a img
{
	display: block;
	max-width: 144px;
	min-width: 144px;
}

.film-shelf .bbc_one,
.film-shelf .bbc_two,
.film-shelf .bbc_three,
.film-shelf .bbc_four,
.film-shelf .iplayer,
.film-shelf .bbc_hd
{
	background-image: none;
}