.film-shelf
{
	width: 768px;
}

.film-shelf li
{
	margin-bottom: 20px;
	margin-right: 15px;
	min-height: 330px;
	min-width: 140px;
	width: 140px;
}

.film-shelf li:nth-child(6),
.film-shelf li:nth-child(11),
.film-shelf li:nth-child(16),
.film-shelf li:nth-child(21)
{
	clear: left;
}
.film-shelf li:nth-child(5),
.film-shelf li:nth-child(10),
.film-shelf li:nth-child(15),
.film-shelf li:nth-child(20)
{
	margin-right: 0;
}

.film-shelf li a img
{
	display: block;
	max-width: 140px;
	min-width: 140px;
}

.film-shelf .bbc_one,
.film-shelf .bbc_two,
.film-shelf .bbc_three,
.film-shelf .bbc_four,
.film-shelf .iplayer,
.film-shelf .bbc_hd
{
	/*background-position: 295px 10px;*/
	background-image: none;
}