.choice
{
	border: 0;
}

.choice li
{
	border: 0;
	float: left;
	margin-right: 10px;
	min-height: 0;
	padding: 0;
}

.film-shelf
{
	width: 992px;
}

.film-shelf li
{
	float: left;
	margin: 0 20px 20px 0;
	min-height: 510px;
	min-width: 231px;
	width: 231px;
}

.film-shelf .bbc_one,
.film-shelf .bbc_two,
.film-shelf .bbc_three,
.film-shelf .bbc_four,
.film-shelf .iplayer,
.film-shelf .bbc_hd
{
	background-position: 155px 10px;
}

.film-shelf .bbc_hd,
.film-shelf li.no-img
{
	min-height: 465px;
	padding-top: 55px;
}

.film-shelf li h2
{
	clear: left;
	min-height: 0;
	padding-right: 0;
}

.film-shelf li h2 span
{
	display: block;
	margin-bottom: 5px;
}

.film-shelf li time
{
	float: none;
	padding: 0 10px;
}

.film-shelf li:nth-child(odd)
{
	margin-right: 20px;
	clear: none;
}

.film-shelf li:nth-child(4),
.film-shelf li:nth-child(8),
.film-shelf li:nth-child(12),
.film-shelf li:nth-child(16),
.film-shelf li:nth-child(20),
.film-shelf li:nth-child(24)
{
	margin-right: 0;
}

.film-shelf li:nth-child(5),
.film-shelf li:nth-child(9),
.film-shelf li:nth-child(13),
.film-shelf li:nth-child(17),
.film-shelf li:nth-child(21),
.film-shelf li:nth-child(25)
{
	clear: left;
}

.film-shelf .rating
{
	margin: 0;
	overflow: hidden;
}

.film-shelf .rating li
{
	padding-bottom: 10px;
	margin-right: 0;
}

.film-shelf .rating li span.barchart
{
	margin-right: 0;
	width: 210px;
}