@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

html, body, h1, h2, h3, h4, p, ol, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 1em;
}

img {
  vertical-align: bottom;
/*  display: block;*/
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

p, li {
  line-height: 1.4;
}
p {
  margin-bottom: 1.4em;
}

h1, h2, h3, h4, b {
  font-weight: 600;
}

h1, h2, h3, h4 {
  margin-bottom: 0;
}
select {
  vertical-align: sub;
}
h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}
h2 {
  font-size: 1.1em;
  margin-bottom: 0.25em;
}
header {
  display: block;
  overflow: hidden;
  margin-bottom: 1em;
}
header h1 {
  float: left;
  margin-right: 1em;
}

.film {
  position: relative;
  margin-bottom: 1.5em;
  overflow: hidden;
}

.film a.header-img {
  position: relative;
  display: block;
}
.film .header-img .hero {
  max-width: 100%;
  width: 100%;
}


.film h2 {
  font-weight: 500;
}
.film time {
  display: block;
}
.film .time {
  position: absolute;
  bottom: 0;
  font-weight: 600;
  width: 96%;
  left: 0;
  color: #fff;
  margin: 0;
  background-color: rgba(0,0,0, 0.3);
  padding: 2%;
}
.film h3 {
  font-size: 1em;
}
.film .channel {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
}

.film p, .related li {
  font-size: 14px;
}

.related {
  margin-bottom: 1em;
}
.rating {
  position: absolute;
  width: 50%;
  bottom: 0;
  right: 0;
  background-color: #efefef;
  line-height: 1;
}
.rating .critic {
  position: absolute;
  color: #fff;
  left: 5px;
  top: 2px;
  margin: 0;
  font-size: 12px;
  font-weight: 600;
}

@media all and (min-width: 520px) {
  .film {
    margin-right: 5%;
    width: 45%;
    float: left;
    overflow: hidden;
  }
  .film:nth-child(even) {
    margin-right: 0;
  }
  .film:nth-child(odd) {
    clear: left;
  }
}

@media all and (min-width: 820px) {
  .film {
    width: 31%;
    margin-right: 3%;
  }
  .film:nth-child(even) {
    margin-right: 3%;
  }
  .film:nth-child(3n+3) {
    margin-right: 0;
  }
  .film:nth-child(odd) {
    clear: none;
  }
  .film:nth-child(3n+1) {
    clear: left;
  }
  
}

@media all and (min-width: 1200px) {
  .film-shelf {
    max-width: 1600px;
    margin: 0 auto;
  }
  .film {
    width: 45%;
    margin-right: 5%;
  }
  .film:nth-child(odd) {
    clear: left;
  }
  .film:nth-child(3n+3) {
    margin-right: 5%;
  }
  .film:nth-child(3n+1) {
    clear: none;
  }
  .film:nth-child(even) {
    margin-right: 0;
  }

  .film a.header-img {
    float: left;
    width: 47%;
    margin-right: 3%;
  }
  
  .film .details {
    width: 50%;
    float: left;
  } 
}